.task-list-container {
  width: 100%;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
}

.task-list-container.empty {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #6c757d;
  font-style: italic;
}

/* Estilo para el scrollbar personalizado */
.task-list-container::-webkit-scrollbar {
  width: 8px;
}

.task-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.task-list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.task-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}